<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat info</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="details_container">
        <h2>Details page for <%= cat_info.name%>:</h2>
        <div class="center">
            <img class="img_details" src="<%=cat_info.url%>" alt="Cat picture">
        </div>

        <div class="row">
            Favorite Food: <%= cat_info.favorite_food%>
        </div>

        <div class="row">
            Age: <%= cat_info.age%>
        </div>

        <div class="row">
            <p>Sleeping spots:</p>
            <% for (var place of cat_info.sleeping_spots) {%>
                <p><%= place %></p>
            <% } %>
        </div>
    </div>

</body>

</html>